$white:white;
$black:black;
$theme-color:rgb(66, 66, 255);
$text-light:#848d92;
$text-dark:  rgba(255, 255, 255, 0.8);
$bg-light:rgba(0, 0, 0, 0.05);
@mixin text{
    color: $text-light;
    font-size: 15px;
    line-height: 25px;
    margin:10px 0 20px 0;
}
@mixin title{
    color: $theme-color;
    font-size: 30px;
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
.text-center{
    text-align: center;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.w-2{
    width: 50%;
}
.w-3{
    width: 33.33%;
}
.w-4{
    width: 25%;
}
.py{
    padding: 75px 0;
}
// header
header{
    background-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    z-index: 9;
    .logo{
        a{
            color: $white;
            font-size: 24px;
            font-weight: 700;
            span{
                color: rgba(255, 255, 255, 0.2) ;
            }
        }
    }
    nav{
        ul{
            li{
                a{
                    color: $white;
                    margin-right: 15px;
                    font-size: 14px;
                }
            }
        }
    }
    .contect-number{
        a{
            color: $white;
            i{
                width: 20px;
                height: 20px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 50%;
                padding: 8px;
                border: 2px solid transparent;
                margin-right: 5px;
                transition: all 0.2s linear;
                &:hover{
                    border-color: $white;
                    background-color: transparent;
                }
            }
        }
    }
    .toggle{
        display: none;
        a{
            color: $white;
            font-size: 25px;
        }
    }
}
// benner
.benner{
    background-color: $theme-color;
    color: $white;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    z-index: 1;

    .benner-content{
        z-index: 9 !important;
        h1{
            font-size: 45px;
            font-weight: 600;
        }
        p{
            color: rgba(255, 255, 255, 0.8);
            margin-top: 15px;
        }
        .benner-btn{
            margin-top: 25px;
            a{
                &:first-child{
                    background-color: $white;
                    padding: 10px 25px;
                    border-radius: 5px;
                    border: 2px solid transparent;
                    font-weight: 600;
                    margin-right: 10px;
                    transition: all 0.2s linear;
                    &:hover{
                        color: $white;
                        background-color: transparent;
                        border: 2px solid $white;
                    }
                }
                &:last-child{
                    color: $white;
                }
            }
        }
    }

    .benner-img{
        img{
            width: 100%;
        }
    }
}
// about
.about{
    .about-img{
        img{
        width: 100%;

        }
    }
    .about-content{
        margin-left: 50px;
        h2{
            font-weight: 400;
        }
        p{
            @include text;
        }
        i{
            width: 50px;
            height: 50px;
            font-size: 35px;
            color: $theme-color;
            padding: 6px;
            box-shadow: 0 1px 5px -2px rgb(0, 0, 0);
            border-radius: 5px;
            margin-right: 25px;
        }
        h3{
            font-weight: 500;
        }
    }
}
// services
.service{
    background-color: $theme-color;
    color: $white;
    .service-item{
        i{
            font-size: 50px;
            margin: 8px 12px 0 0;
        }
        .service-content{
            margin: 0 12px;
            h3{
                font-weight: 500;
            }
            p{
                margin-top: 10px;
                color:rgba(255, 255, 255, 0.7);
                font-size: 15px;
                line-height: 22px;
            }
        }
    }
}
//about-2
.about2{
    .about-content{
        margin-right: 50px;
        h2{
            font-weight: 400;
            margin-bottom: 35px;
        }
        p{
           @include text();
        }
        i{
            width: 50px;
            height: 50px;
            font-size: 35px;
            color: $theme-color;
            padding: 6px;
            box-shadow: 0 1px 5px -2px rgb(0, 0, 0);
            border-radius: 5px;
            margin-right: 25px;
        }
        h3{
            font-weight: 500;
        }
    }
    .about2-img{
        img{
            width: 100%;
        }
    }
}
// services
.services{
    background-color: $bg-light;
    .services-title{
        h2{
            @include title();
        }
        p{
            @include text();
        }
    }
    .services-item{
        background-color: $white;
        margin: 10px;
        padding: 30px 20px;
        i{
            font-size: 50px;
            color: $theme-color;
            z-index: 9;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: 40px;
                height: 40px;
                background-color: rgba(108, 117, 125, 0.1);
                border-radius: 50%;
                z-index: -1;
            }
        }
        h3{
            font-weight: 500;
            margin-top: 20px;
        }
        p{
            @include text();
            font-size: 14px;
        }
        a{
            color: $theme-color;
            padding: 7px 12px;
            margin-top: 20px;
            border-radius: 5px;
            border: 2px solid $theme-color;
            transition: all 0.3s linear;
            &:hover{
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}
// talk to us
.talk{
    background-image: url(../images/talk.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    color: white;
    z-index: 9;
    &::before{
        opacity: 0.9;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        background:linear-gradient(#306ee8, #3038e8);
    }
    h2{
        font-size:25px;
    }
    p{
        font-weight: 14px;
        font-weight: 500;
        line-height: 28px;
        margin-top: 15px;
        color:  rgba(255, 255, 255, 0.8);
    }
    a{
        background-color: $white;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: 500;
        transition: all 0.2s linear;
        &:hover{
            background-color: transparent;
            color:$white;
            border: 1px solid $white;
        }
    }

}
// Case Studies
.case-study{
    background-color: $bg-light;
    .case-study-title{
        h2{
            @include title();
        }
        p{
            width: 35%;
            margin: 25px auto !important;
            @include text();
        }
    }
    
    .responsive{
        .slick-prev{
            position: absolute !important;
            top: -15px;
            right: 50%;
            transform: translate(-30%);
            z-index: 9;
            background-color: $theme-color;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .slick-next{
            position: absolute !important;
            top: -15px;
            left: 50%;
            transform: translate(-15%);
            background-color: $theme-color;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
        }
        .case-item{
            margin: 50px 15px 0 15px;
            background-color: $white;
            box-shadow: 0 1px 5px -2px rgb(0, 0, 0);
            border-radius: 5px;
            .case-content{
                padding: 25px;    
                h5{
                    font-size: 20px;
                    font-weight: 500;
                    margin-bottom: 10px;
                }
                p{
                    margin: 0 auto;
                    color: $text-light;
                    margin-top: 15px;
                }
            }
        }
    }
}
// Testimonials
.testimonials{
    .testimonials-title{
        h2{
            @include title();
            margin: 25px 0;
        }
    }
    img{
        margin-bottom: 20px;
    }
    .testimonials-content{
        padding: 30px;
        p{
            line-height: 25px;
            font-style: italic;
            margin-bottom: 20px;
        }
        h6{
            font-size: 14px;
            letter-spacing: 1px;
            margin: 5px 0;
        }
        span{
            color: $text-light;
            font-weight: 400;
        }
    }
}
// news
.news{
    .news-title{
        h2{
            @include title();
            margin-bottom: 25px;
        }
    }
    .news-item{
        border: 1px solid #e2e8ec;
        border-radius: 5px;
        margin:0 10px;
        img{
            width: 100%;
        }
        .news-content{
            padding: 25px;
            span{
                font-size: 16px;
                color: $text-light;
            }
            h4{
                color: $theme-color;
                font-weight: 400;
                font-size: 20px;
                margin-top: 10px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
            p{
                @include text();
            }
        }
    }
}
// footer
footer{
    background-color: $theme-color;
    color: white;
    .footer-about{
        padding:0 10px;
        h5{
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 600;
        }
        p{
            font-size: 15px;
            line-height: 25px;
            margin:20px 0;
        }
        .footer-contect{
            span{
                display: block;
                margin: 10px 0;
                color: $text-dark;
                font-size: 14px;
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .footer-company,.footer-social{
        h5{
            letter-spacing: 2px;
            font-size: 16px;
            font-weight: 600;
        }
        ul{
            margin-top: 15px;
            li{
                a{
                    color: $text-dark;
                    margin: 5px 0;
                    font-size: 14px;
                    &:hover{
                        color: $white;
                    }
                }
            }
        }
    }
    .footer-social{
        .social{
            li{
                display: inline;
                a{
                    background-color: #306EE8;
                    padding: 5px;
                    border-radius: 5px;
                    transition: all 0.2s linear;
                    &:hover{
                        background-color: $white;
                        color: $theme-color;
                    }
                    i{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    .copyright{
        color: $white;
        margin-top: 30px;
        span{
            color: $text-dark;
            &:hover{
                color: $white;
            }
        }
    }
}
// loader
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
    height: 100vh;
    img{
        width: 150px;
    }
}
.top{
        background-color: #00000038;
        color: white;
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        transition: all 0.2s linear;
    &:hover {
        transform: scale(1.2);
    }
}